# Project root directory

.vscode/

# Arduino/C++ arduino-stepper-software folder

firmware/build/

firmware/*.o
firmware/*.a
firmware/*.so
firmware/*.dylib
firmware/*.exe

# Python gui folder

gui/.venv/

gui/src/__pycache__
gui/src/*.pyc
